@import url("https://fonts.googleapis.com/css2?family=Cairo&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Cairo", sans-serif;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #01017e;
  width: 100%;
  height: 5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: large;
}

.logo {
  padding: 10px;
  margin-right: 10px;
}

.logo a {
  text-decoration: none;
  text-align: center;
  color: white;
}

.nav_list {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  padding: 0;
  margin: 0;
}

.nav_list nav {
  margin: 10px;
}

.nav_list nav a {
  text-decoration: none;
  padding: 10px;
  color: white;
}

.cart {
  margin-left: 20px;
  background-color: #4a82fa;
  cursor: pointer;
  border: none;
  color: white;
  padding: 0.5rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 25px;
  font-weight: bold;
  font-size: large;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.cart:hover, .cart:active {
  background-color: #0445bd;
}

.icon {
  width: 1.35rem;
  height: 1.35rem;
  margin-right: 0.5rem;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #01017e;
  color: white;
  text-align: right;
  padding: 0;
  margin: 0;
}

.above_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.head_footer {
  -webkit-box-flex: 2;
      -ms-flex: 2 1;
          flex: 2 1;
  border-left: 2px solid rgba(248, 249, 255, 0.11);
  padding: 10px;
  margin-left: 10px;
}

.social_footer {
  padding: 8px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}

.social_footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.social_footer a {
  text-decoration: none;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 5px;
}

.social_footer a p {
  padding: 3px;
}

.foot_footer {
  border-top: 2px solid rgba(248, 249, 255, 0.11);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  -ms-flex-item-align: end center;
      align-self: end center;
}
/*# sourceMappingURL=globals.css.map */