@import url("https://fonts.googleapis.com/css2?family=Cairo&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Cairo", sans-serif;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #01017e;
  width: 100%;
  height: 5rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: large;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.logo {
  padding: 10px;
  margin-right: 10px;
}

.logo a {
  text-decoration: none;
  text-align: center;
  color: white;
}

.nav_list {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  padding: 0;
  margin: 0;
}

.nav_list nav {
  margin: 10px;
}

.nav_list nav a {
  text-decoration: none;
  padding: 10px;
  color: white;
}

.cart {
  margin-left: 20px;
  background-color: #4a82fa;
  cursor: pointer;
  border: none;
  color: white;
  padding: 0.5rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 25px;
  font-weight: bold;
  font-size: large;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.cart:hover, .cart:active {
  background-color: #3d4dd6;
}

.icon {
  width: 1.35rem;
  height: 1.35rem;
  margin-right: 0.5rem;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #01017e;
  color: white;
  text-align: right;
  padding: 0;
  margin: 0;
}

.above_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.head_footer {
  -webkit-box-flex: 2;
      -ms-flex: 2 1;
          flex: 2 1;
  border-left: 2px solid rgba(248, 249, 255, 0.11);
  padding: 10px;
  margin-left: 10px;
}

.social_footer {
  padding: 8px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}

.social_footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.social_footer a {
  text-decoration: none;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 5px;
}

.social_footer a p {
  padding: 3px;
}

.foot_footer {
  border-top: 2px solid rgba(248, 249, 255, 0.11);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  -ms-flex-item-align: end center;
      align-self: end center;
}

.home img {
  width: 100%;
  max-height: 10%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.eshtry_container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  text-align: right;
}

.eshtry_container .eshtry_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin: 60px 0;
}

.eshtry_container .eshtry_content {
  padding-left: 20px;
}

.eshtry_container button {
  border: none;
  border-radius: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
  margin: 5px;
  background-color: #4a82fa;
  color: white;
  font-size: 15px;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.eshtry_container button:hover {
  background-color: #4a82fa;
  -webkit-box-shadow: 7px 7px 7px rgba(101, 91, 255, 0.25);
          box-shadow: 7px 7px 7px rgba(101, 91, 255, 0.25);
}

.product_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  min-height: 100vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #efefef;
  padding: 10px;
  margin: 10px;
  -webkit-animation: product-appear 1s ease-out forwards;
          animation: product-appear 1s ease-out forwards;
}

.product {
  text-align: center;
  width: 300px;
  background-color: white;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  padding: 15px;
  margin: 15px 0;
}

.product .img_container {
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;
}

.product .img_container img {
  width: 100%;
}

@-webkit-keyframes product-appear {
  from {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes product-appear {
  from {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.products_title {
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  font-size: 20px;
}

.card {
  border-radius: 12px;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.products_buttons {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 10px;
}

.products_buttons .product_detail_button {
  border: none;
  border-radius: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
  margin: 5px;
  font-size: 15px;
  -webkit-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.products_buttons .product_detail_button:hover {
  background-color: #4a82fa;
  -webkit-box-shadow: 7px 7px 7px rgba(101, 91, 255, 0.25);
          box-shadow: 7px 7px 7px rgba(101, 91, 255, 0.25);
}

.products_buttons .product_cart_button {
  border: none;
  border-radius: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
  margin: 5px;
  font-size: 15px;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.products_buttons .product_cart_button:hover {
  background-color: #4a82fa;
  -webkit-box-shadow: 7px 7px 7px rgba(101, 91, 255, 0.25);
          box-shadow: 7px 7px 7px rgba(101, 91, 255, 0.25);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  top: 20vh;
  left: 5%;
  width: 90%;
  background-color: white;
  padding: 1rem;
  border-radius: 14px;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  -webkit-animation: slide-down 300ms ease-out forwards;
          animation: slide-down 300ms ease-out forwards;
}

@media (min-width: 768px) {
  .modal {
    width: 40rem;
    left: calc(50% - 20rem);
  }
}

@-webkit-keyframes slide-down {
  from {
    opacity: 0;
    -webkit-transform: translateY(-3rem);
            transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    -webkit-transform: translateY(-3rem);
            transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/*# sourceMappingURL=globals.css.map */